@model ARMSYSTEM.Models.BasesProject

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BasesProject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idProject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idProject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idParrentBase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idParrentBase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.filters)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.filters)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateCreate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateCreate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
