@model ARMSYSTEM.Models.Timezone

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Timezone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.region)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.population)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.population)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.timezone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.timezone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
